@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: rgb(250, 225, 225);
  --secondary: rgb(183, 92, 92);
  --tertiary: rgb(51, 171, 160);
  --background: rgb(245, 247, 249);
  --surface: rgb(255, 255, 255);
  --error: rgb(176, 0, 32);
  --on-primary: rgb(255, 255, 255);
  --on-secondary: rgb(255, 255, 255);
  --on-background: #f5f5f5;
  --on-surface: rgb(30, 37, 48);
  --on-error: rgb(255, 255, 255);
  --shadow: rgba(0, 0, 0, 0.205);
  --scrollbar-width: 8px;
}

.dark {
  /* --primary: rgb(95, 186, 99); */
  --background: rgb(48, 54, 47);
  --surface: rgb(255, 251, 219);
  --on-background: rgb(255, 251, 219);
  --on-surface: rgb(48, 54, 47);
  --shadow: rgb(51, 51, 51);
}

@layer base {
  html,
  body,
  #__next {
    @apply h-full w-full;
  }
}

.navbar-start {
  width: 320px;
}

h2 {
  color: var(--secondary);
  font-size: 20px !important;
}

h3 {
  text-transform: uppercase;
  font-size: 14px !important;
}

h4 {
  font-size: 25px !important;
}

h6 {
  color: var(--secondary);
  font-size: 40px !important;
}

.item-image {
  min-width: 320px;
}
